:root {
    --purpal: #702963;
    /* <-- variable declaration */
}


* {
    padding: 0px;
}

body {
    margin: 0;
    overflow-x: hidden;

}

#super-container {
    position: relative;
    border: 2px solid black;
    height: 100vw;
}

#main-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: flex-start;
    width: 100%;

    max-width: 100vw;

    overflow-x: hidden;

}

#left-section {
    max-width: 400px;
    margin-top: 40pt;
    position: relative;
    min-height: 300px;

}

#left-section #purple {
    width: 360px;
    aspect-ratio: 6 /5;
    margin-left: -70pt;
    z-index: 10;
}

#left-section #coin {
    width: 200px;
    aspect-ratio: 3/2;
    z-index: 30;

    position: absolute;
    top: 120px;
    left: 30px;
}

#right-section {
    margin-top: 200px;
    margin-right: -100px;


}


#right-section #blue {
    transform: rotate(30deg);

}

#middle-section {
    margin-top: 50px;
    width: "100%";
    position: relative;
  ;
    padding: 20px 50px;
}

#middle-section h1 {
    font-size: 70px;
    font-weight: bold;
    margin-left: 50px;

}



@keyframes wishpay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveit {
    from {
        transform: translateX(0);
        /* start at normal position */
    }

    to {
        transform: translateX(-20px);
        /* move 30px left */
    }
}

@keyframes moveright {
    from {
        transform: translateX(0);
        /* start at normal position */
    }

    to {
        transform: translateX(20px);
        /* move 30px left */
    }
}

h1 span {
    display: inline-block;

    vertical-align: middle;



}


#enhance {
    animation: moveit 0.5s ease-in forwards;

}

#your {
    animation: moveright 0.5s ease-in forwards;
}

#finance {
    margin-left: 20px;
}


#wish {

    animation: wishpay 4s ease-in-out forwards;
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




}


@keyframes movetoBottom {
    0% {
        transform: rotate(90deg) translateY(0px) scale(1);
    }

    25% {
        transform: rotate(90deg) translateY(250px) scale(1.4);
    }

    50% {
        transform: translateY(500px) scale(1.8);
    }

    75% {
        transform: translateY(750px) scale(2.0);
    }

    100% {
        transform: translateY(900px) scale(2.5) translateX(50px) rotate(-65deg);
    }
}

#bank-card {
    position: absolute;
    width: 130px;

    aspect-ratio: 1 / 1;
    animation: movetoBottom 5s ease-in-out 0s 1 forwards;
}


.hero-bottom p {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: condensed;
}

.hero-bottom button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 18px;
    background-color: var(--purpal);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 24px;


}

.stats-container {
    display: flex;
    justify-content: space-between;
    /* space between the two stats */
    align-items: flex-start;
    /* align top */
    width: 70%;
    margin: 0 auto;
    /* center the container on page */
    text-align: center;
    gap: 20px;
    /* optional spacing */
}

.stat {
    flex: 1;
    /* make both stats take available space equally */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* center content inside each stat */
    margin: 0 10px;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a052b;
    /* dark purple */
}

.stat-label {
    font-size: 1rem;
    color: #555;
    margin-top: 5px;
}

.logos {
    margin-top: 10px;
    display: flex;

    justify-content: center;
    /* center logos */
    gap: 15px;
    opacity: 0.6;
}

.logos img {

    height: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
}